/***********************************************/
/***************** Our Style *******************/
/***********************************************/

body {
  color:;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/********** Fonts ************/

h1, h2, h3, h4, h5, h6, p, blockquote, pre {}

/********** Navigation ************/

.navbar-fixed-top {
  top: 2px;
}
.container-fluid {
  margin-top: 75px;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}

/********** Col borders ************/

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}
